In [11]:
import pandas as pd

houseprices = pd.read_csv('DKHousingPricesSample100k.csv')
empty_column = houseprices[houseprices['city'].isnull()]

houseprices = houseprices.drop(columns=['address', 'zip_code', 'nom_interest_rate%', 'dk_ann_infl_rate%', 'yield_on_mortgage_credit_bonds%'])
houseprices.info()
print(houseprices.describe())
print(houseprices.columns)

print(houseprices.isnull().sum())

print(empty_column)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   date                                 100000 non-null  object
 1   quarter                              100000 non-null  object
 2   house_id                             100000 non-null  int64
 3   house_type                           100000 non-null  object
 4   sales_type                           100000 non-null  object
 5   year_build                           100000 non-null  int64
 6   purchase_price                       100000 non-null  int64
 7   %_change_between_offer_and_purchase  100000 non-null  float64
 8   no_rooms                             100000 non-null  int64
 9   sqm                                  100000 non-null  float64
 10  sqm_price                            100000 non-null  float64
 11  city                                 99989 non-null   object
 12  area                                 100000 non-null  object
 13  region                               100000 non-null  object
dtypes: float64(3), int64(4), object(7)
memory usage: 10.7+ MB
           house_id     year_build  purchase_price  \
count  1.000000e+05  100000.000000    1.000000e+05
mean   7.531364e+05    1955.078530    1.925992e+06
std    4.348902e+05      45.703585    1.777832e+06
min    1.300000e+01    1000.000000    2.502000e+05
25%    3.770722e+05    1931.000000    8.000000e+05
50%    7.511035e+05    1966.000000    1.400000e+06
75%    1.128904e+06    1980.000000    2.450000e+06
max    1.507901e+06    2024.000000    4.595500e+07

       %_change_between_offer_and_purchase       no_rooms            sqm  \
count                        100000.000000  100000.000000  100000.000000
mean                             -2.084740       4.375790     129.387820
std                               4.852926       1.661686      57.170619
min                             -49.000000       1.000000      26.000000
25%                              -3.000000       3.000000      89.000000
50%                               0.000000       4.000000     123.000000
75%                               0.000000       5.000000     160.000000
max                              49.000000      15.000000     984.000000

           sqm_price
count  100000.000000
mean    16406.648074
std     13655.184405
min       374.549800
25%      6792.940775
50%     12070.707000
75%     21343.201500
max     75000.000000
Index(['date', 'quarter', 'house_id', 'house_type', 'sales_type', 'year_build',
       'purchase_price', '%_change_between_offer_and_purchase', 'no_rooms',
       'sqm', 'sqm_price', 'city', 'area', 'region'],
      dtype='object')
date                                    0
quarter                                 0
house_id                                0
house_type                              0
sales_type                              0
year_build                              0
purchase_price                          0
%_change_between_offer_and_purchase     0
no_rooms                                0
sqm                                     0
sqm_price                               0
city                                   11
area                                    0
region                                  0
dtype: int64
             date quarter  house_id   house_type    sales_type  year_build  \
7358   2023-06-08  2023Q2     96847        Villa  regular_sale        1979
12234  2022-06-09  2022Q2    173270        Villa  regular_sale        1882
16138  2021-10-30  2021Q4    232218  Summerhouse   family_sale        1975
35666  2018-12-21  2018Q4    527555         Farm   family_sale        1926
44934  2016-07-11  2016Q3    666047  Summerhouse  regular_sale        1973
53125  2014-04-13  2014Q2    791639        Villa  regular_sale        1974
63952  2009-12-06  2009Q4    956512         Farm  regular_sale        1915
65377  2009-04-24  2009Q2    977298  Summerhouse  regular_sale        1919
66061  2008-11-27  2008Q4    987940  Summerhouse   family_sale        1973
69069  2007-09-21  2007Q3   1032983        Villa  regular_sale        1850
81161  2003-05-26  2003Q2   1218603  Summerhouse  regular_sale        1974

       purchase_price  %_change_between_offer_and_purchase  no_rooms    sqm  \
7358          1700000                                  0.0         3   63.0
12234         1200000                                  0.0         4  152.0
16138          612000                                  0.0         3   69.0
35666          935000                                  0.0         5  166.0
44934         1250000                                  0.0         3   58.0
53125         1100000                                -19.0         6  180.0
63952         1173800                                  0.0         4  152.0
65377          800000                                  0.0         7   79.0
66061          518500                                  0.0         3   42.0
69069         1000000                                  0.0         4   98.0
81161          620000                                  0.0         3   97.0

        sqm_price             address  zip_code city                area  \
7358   26984.1270         Søndenom 11      8799  NaN  East & mid jutland
12234   7894.7370   Tunø Hovedgade 37      8799  NaN  East & mid jutland
16138   8869.5650            Revet 20      8799  NaN  East & mid jutland
35666   5632.5303          Avrevej 75      8799  NaN  East & mid jutland
44934  21551.7250            Revet 35      8799  NaN  East & mid jutland
53125   6111.1113          Søndenom 5      8799  NaN  East & mid jutland
63952   7722.3687   Tunø Hovedgade 16      8799  NaN  East & mid jutland
65377  10126.5820   Tunø Hovedgade 72      8799  NaN  East & mid jutland
66061  12345.2380       Stenkalven 71      8799  NaN  East & mid jutland
69069  10204.0820  Tunø Hovedgade 100      8799  NaN  East & mid jutland
81161   6391.7524            Revet 18      8799  NaN  East & mid jutland

        region  nom_interest_rate%  dk_ann_infl_rate%  \
7358   Jutland                2.60               3.31
12234  Jutland                0.00               7.70
16138  Jutland                0.00               1.85
35666  Jutland                0.00               0.81
44934  Jutland                0.00               0.25
53125  Jutland                0.00               0.56
63952  Jutland                1.00               1.30
65377  Jutland                2.00               1.30
66061  Jutland                4.25               3.42
69069  Jutland                4.00               1.69
81161  Jutland                2.50               2.08

       yield_on_mortgage_credit_bonds%
7358                              4.79
12234                             3.73
16138                             1.47
35666                             2.12
44934                             2.55
53125                             3.06
63952                             5.50
65377                             5.50
66061                             6.52
69069                             5.70
81161                             5.11

### Columns we do not use:
address, zip_code, nom_interest_rate%, dk_ann_infl_rate% & yield_on_mortgage_credit_bonds%